.Deck {
    height: 100%;
    width: 18vw;
    background-color: #000000;
    margin-left: 10vw;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.deck-card {
    width: 12.9vw;
    height: 90%;
    background: transparent;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    visibility: hidden;
}