.Qna {
    width: 60%;
    height: 100%;
    background-color: #000000;
    margin-left: 2vw;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.questionSection {
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 25px;
}

.answerCardsSection {
    height: 50%;
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.qnaCard {
    width: 16%;
    height: 90%;
    background: transparent;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}